
Ideal.Platform.Service/obj/project.nuget.cache
Ideal.Platform.Service/obj/project.assets.json
Ideal.Platform.Service/obj/Ideal.Platform.Service.csproj.nuget.g.props
Ideal.Platform.Service/obj/Ideal.Platform.Service.csproj.nuget.dgspec.json
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.pdb
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.GeneratedMSBuildEditorConfig.editorconfig
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.dll
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.csproj.FileListAbsolute.txt
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.csproj.CoreCompileInputs.cache
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.csproj.AssemblyReference.cache
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.assets.cache
Ideal.Platform.Service/obj/Debug/net6.0/Ideal.Platform.Service.AssemblyInfo.cs
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Service.pdb
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Service.dll
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Service.deps.json
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Model.pdb
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Model.dll
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Common.pdb
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.Common.dll
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.BLL.pdb
Ideal.Platform.Service/bin/Debug/net6.0/Ideal.Platform.BLL.dll
Ideal.Platform.Model/obj/project.nuget.cache
Ideal.Platform.Model/obj/project.assets.json
Ideal.Platform.Model/obj/Ideal.Platform.Model.csproj.nuget.g.props
Ideal.Platform.Model/obj/Ideal.Platform.Model.csproj.nuget.dgspec.json
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.pdb
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.GeneratedMSBuildEditorConfig.editorconfig
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.dll
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.csproj.FileListAbsolute.txt
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.csproj.CoreCompileInputs.cache
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.csproj.AssemblyReference.cache
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.assets.cache
Ideal.Platform.Model/obj/Debug/net6.0/Ideal.Platform.Model.AssemblyInfo.cs
Ideal.Platform.Model/bin/Debug/net6.0/Ideal.Platform.Model.pdb
Ideal.Platform.Model/bin/Debug/net6.0/Ideal.Platform.Model.dll
Ideal.Platform.DAO/obj/project.nuget.cache
Ideal.Platform.DAO/obj/project.assets.json
Ideal.Platform.DAO/obj/Ideal.Platform.DAO.csproj.nuget.g.props
Ideal.Platform.DAO/obj/Ideal.Platform.DAO.csproj.nuget.dgspec.json
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.pdb
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.GeneratedMSBuildEditorConfig.editorconfig
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.dll
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.csproj.FileListAbsolute.txt
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.csproj.CoreCompileInputs.cache
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.csproj.AssemblyReference.cache
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.assets.cache
Ideal.Platform.DAO/obj/Debug/net6.0/Ideal.Platform.DAO.AssemblyInfo.cs
Ideal.Platform.DAO/bin/Debug/net6.0/Ideal.Platform.DAO.pdb
Ideal.Platform.DAO/bin/Debug/net6.0/Ideal.Platform.DAO.dll
Ideal.Platform.Common/obj/project.nuget.cache
Ideal.Platform.Common/obj/project.assets.json
Ideal.Platform.Common/obj/Ideal.Platform.Common.csproj.nuget.g.props
Ideal.Platform.Common/obj/Ideal.Platform.Common.csproj.nuget.dgspec.json
Ideal.Platform.Common/obj/Debug/net6.0/refint/Ideal.Platform.Common.dll
Ideal.Platform.Common/obj/Debug/net6.0/ref/Ideal.Platform.Common.dll
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.pdb
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.GeneratedMSBuildEditorConfig.editorconfig
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.dll
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.csproj.FileListAbsolute.txt
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.csproj.CoreCompileInputs.cache
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.csproj.AssemblyReference.cache
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.assets.cache
Ideal.Platform.Common/obj/Debug/net6.0/Ideal.Platform.Common.AssemblyInfo.cs
Ideal.Platform.Common/bin/Debug/net6.0/Ideal.Platform.Common.pdb
Ideal.Platform.Common/bin/Debug/net6.0/Ideal.Platform.Common.dll
Ideal.Platform.Common/bin/Debug/net6.0/Ideal.Platform.Common.deps.json
Ideal.Platform.Common/bin/Debug/net6.0/Ideal.pdb
Ideal.Platform.Common/bin/Debug/net6.0/Ideal.dll
Ideal.Platform.BLL/obj/project.nuget.cache
Ideal.Platform.BLL/obj/project.assets.json
Ideal.Platform.BLL/obj/Ideal.Platform.BLL.csproj.nuget.g.props
Ideal.Platform.BLL/obj/Ideal.Platform.BLL.csproj.nuget.dgspec.json
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.pdb
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.GeneratedMSBuildEditorConfig.editorconfig
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.dll
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.csproj.FileListAbsolute.txt
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.csproj.CoreCompileInputs.cache
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.csproj.AssemblyReference.cache
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.assets.cache
Ideal.Platform.BLL/obj/Debug/net6.0/Ideal.Platform.BLL.AssemblyInfo.cs
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.Model.pdb
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.Model.dll
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.Common.pdb
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.Common.dll
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.BLL.pdb
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.BLL.dll
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.Platform.BLL.deps.json
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.pdb
Ideal.Platform.BLL/bin/Debug/net6.0/Ideal.dll
